name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: bin
          key: bin-${{ runner.os }}-${{ hashFiles('.versions/*') }}
          restore-keys: |
            bin-${{ runner.os }}

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - run: make bin/mk_funcs.so
      - run: make test
